@model WebClinetApplication.Models.StockTickerModelList

@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Savev", "Home", FormMethod.Post))
{
    <table class="table">
        <thead>
        <tr>
            <th>Stock name</th>
            <th>Price</th>
            <th>Enable/Disable</th>
        </tr>
        </thead>
        <tbody>
        @for(int t =0; t < Model.tickers.Count; t++)
        {
            <tr>
                <td>
                    @Model.tickers[t].Name
                </td>
                <td>
                    @Model.tickers[t].Price
                </td>
                <td>
                    @Html.CheckBoxFor(m => Model.tickers[t].IsChecked)
                    @Html.HiddenFor(m => Model.tickers[t].Name)
                    @Html.HiddenFor(m => Model.tickers[t].Price)
                </td>
            </tr>
        }
        </tbody>
    </table>
    @Html.AntiForgeryToken()
    <button type="submit" value="submit">Save</button>
}

